@import '../variables';

.main-layout {
  min-height: 100vh;

  .site-header {
    background: white;
    padding: 0 $spacing-lg;
    box-shadow: $shadow-sm;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .site-content {
    padding: $spacing-lg;
    min-height: calc(100vh - 64px);
  }
}
